<div class="row">
    <div class="col-3 mb-[25px]">
        <div class="h-[358.39px]">
            <div class="w-full h-[274px] rounded-[5px] overflow-hidden">
                <img class="w-full h-full hover:scale-110 transition-all object-fill"
                    src="https://pic.uma.media/pic/cardimage/54/87/548709a5d1c9961f0d374b976bf1afd0.jpg?size=294&quality=90"
                    alt="">
            </div>
            <div class="mt-[14px]">
                <h3
                    class="text-[#FFFF] text-[16px] font-[400] overflow-hidden whitespace-nowrap text-ellipsis max-w-[100%]">
                    Легко ли быть молодым?</h3>
                <h5 class="text-[#8C8C8C] text-[16px] font-[400]">Komedia</h5>
                <p class="capitalize text-[16px] font-[400] text-[#24A85C]">tekin</p>
            </div>
        </div>
    </div>
    <div class="col-3 mb-[25px]">
        <div class="h-[358.39px]">
            <div class="w-full h-[274px] rounded-[5px] overflow-hidden">
                <img class="w-full h-full hover:scale-110 transition-all object-fill"
                    src="https://pic.uma.media/pic/cardimage/54/87/548709a5d1c9961f0d374b976bf1afd0.jpg?size=294&quality=90"
                    alt="">
            </div>
            <div class="mt-[14px]">
                <h3
                    class="text-[#FFFF] text-[16px] font-[400] overflow-hidden whitespace-nowrap text-ellipsis max-w-[100%]">
                    Легко ли быть молодым?</h3>
                <h5 class="text-[#8C8C8C] text-[16px] font-[400]">Komedia</h5>
                <p class="capitalize text-[16px] font-[400] text-[#24A85C]">tekin</p>
            </div>
        </div>
    </div>
    <div class="col-3 mb-[25px]">
        <div class="h-[358.39px]">
            <div class="w-full h-[274px] rounded-[5px] overflow-hidden">
                <img class="w-full h-full hover:scale-110 transition-all object-fill"
                    src="https://pic.uma.media/pic/cardimage/54/87/548709a5d1c9961f0d374b976bf1afd0.jpg?size=294&quality=90"
                    alt="">
            </div>
            <div class="mt-[14px]">
                <h3
                    class="text-[#FFFF] text-[16px] font-[400] overflow-hidden whitespace-nowrap text-ellipsis max-w-[100%]">
                    Легко ли быть молодым?</h3>
                <h5 class="text-[#8C8C8C] text-[16px] font-[400]">Komedia</h5>
                <p class="capitalize text-[16px] font-[400] text-[#24A85C]">tekin</p>
            </div>
        </div>
    </div>
    <div class="col-3 mb-[25px]">
        <div class="h-[358.39px]">
            <div class="w-full h-[274px] rounded-[5px] overflow-hidden">
                <img class="w-full h-full hover:scale-110 transition-all object-fill"
                    src="https://pic.uma.media/pic/cardimage/54/87/548709a5d1c9961f0d374b976bf1afd0.jpg?size=294&quality=90"
                    alt="">
            </div>
            <div class="mt-[14px]">
                <h3
                    class="text-[#FFFF] text-[16px] font-[400] overflow-hidden whitespace-nowrap text-ellipsis max-w-[100%]">
                    Легко ли быть молодым?</h3>
                <h5 class="text-[#8C8C8C] text-[16px] font-[400]">Komedia</h5>
                <p class="capitalize text-[16px] font-[400] text-[#24A85C]">tekin</p>
            </div>
        </div>
    </div>
    <div class="col-3 mb-[25px]">
        <div class="h-[358.39px]">
            <div class="w-full h-[274px] rounded-[5px] overflow-hidden">
                <img class="w-full h-full hover:scale-110 transition-all object-fill"
                    src="https://pic.uma.media/pic/cardimage/54/87/548709a5d1c9961f0d374b976bf1afd0.jpg?size=294&quality=90"
                    alt="">
            </div>
            <div class="mt-[14px]">
                <h3
                    class="text-[#FFFF] text-[16px] font-[400] overflow-hidden whitespace-nowrap text-ellipsis max-w-[100%]">
                    Легко ли быть молодым?</h3>
                <h5 class="text-[#8C8C8C] text-[16px] font-[400]">Komedia</h5>
                <p class="capitalize text-[16px] font-[400] text-[#24A85C]">tekin</p>
            </div>
        </div>
    </div>
    <div class="col-3 mb-[25px]">
        <div class="h-[358.39px]">
            <div class="w-full h-[274px] rounded-[5px] overflow-hidden">
                <img class="w-full h-full hover:scale-110 transition-all object-fill"
                    src="https://pic.uma.media/pic/cardimage/54/87/548709a5d1c9961f0d374b976bf1afd0.jpg?size=294&quality=90"
                    alt="">
            </div>
            <div class="mt-[14px]">
                <h3
                    class="text-[#FFFF] text-[16px] font-[400] overflow-hidden whitespace-nowrap text-ellipsis max-w-[100%]">
                    Легко ли быть молодым?</h3>
                <h5 class="text-[#8C8C8C] text-[16px] font-[400]">Komedia</h5>
                <p class="capitalize text-[16px] font-[400] text-[#24A85C]">tekin</p>
            </div>
        </div>
    </div>
    <div class="col-3 mb-[25px]">
        <div class="h-[358.39px]">
            <div class="w-full h-[274px] rounded-[5px] overflow-hidden">
                <img class="w-full h-full hover:scale-110 transition-all object-fill"
                    src="https://pic.uma.media/pic/cardimage/54/87/548709a5d1c9961f0d374b976bf1afd0.jpg?size=294&quality=90"
                    alt="">
            </div>
            <div class="mt-[14px]">
                <h3
                    class="text-[#FFFF] text-[16px] font-[400] overflow-hidden whitespace-nowrap text-ellipsis max-w-[100%]">
                    Легко ли быть молодым?</h3>
                <h5 class="text-[#8C8C8C] text-[16px] font-[400]">Komedia</h5>
                <p class="capitalize text-[16px] font-[400] text-[#24A85C]">tekin</p>
            </div>
        </div>
    </div>
    <div class="col-3 mb-[25px]">
        <div class="h-[358.39px]">
            <div class="w-full h-[274px] rounded-[5px] overflow-hidden">
                <img class="w-full h-full hover:scale-110 transition-all object-fill"
                    src="https://pic.uma.media/pic/cardimage/54/87/548709a5d1c9961f0d374b976bf1afd0.jpg?size=294&quality=90"
                    alt="">
            </div>
            <div class="mt-[14px]">
                <h3
                    class="text-[#FFFF] text-[16px] font-[400] overflow-hidden whitespace-nowrap text-ellipsis max-w-[100%]">
                    Легко ли быть молодым?</h3>
                <h5 class="text-[#8C8C8C] text-[16px] font-[400]">Komedia</h5>
                <p class="capitalize text-[16px] font-[400] text-[#24A85C]">tekin</p>
            </div>
        </div>
    </div>
    <div class="col-3 mb-[25px]">
        <div class="h-[358.39px]">
            <div class="w-full h-[274px] rounded-[5px] overflow-hidden">
                <img class="w-full h-full hover:scale-110 transition-all object-fill"
                    src="https://pic.uma.media/pic/cardimage/54/87/548709a5d1c9961f0d374b976bf1afd0.jpg?size=294&quality=90"
                    alt="">
            </div>
            <div class="mt-[14px]">
                <h3
                    class="text-[#FFFF] text-[16px] font-[400] overflow-hidden whitespace-nowrap text-ellipsis max-w-[100%]">
                    Легко ли быть молодым?</h3>
                <h5 class="text-[#8C8C8C] text-[16px] font-[400]">Komedia</h5>
                <p class="capitalize text-[16px] font-[400] text-[#24A85C]">tekin</p>
            </div>
        </div>
    </div>
    <div class="col-3 mb-[25px]">
        <div class="h-[358.39px]">
            <div class="w-full h-[274px] rounded-[5px] overflow-hidden">
                <img class="w-full h-full hover:scale-110 transition-all object-fill"
                    src="https://pic.uma.media/pic/cardimage/54/87/548709a5d1c9961f0d374b976bf1afd0.jpg?size=294&quality=90"
                    alt="">
            </div>
            <div class="mt-[14px]">
                <h3
                    class="text-[#FFFF] text-[16px] font-[400] overflow-hidden whitespace-nowrap text-ellipsis max-w-[100%]">
                    Легко ли быть молодым?</h3>
                <h5 class="text-[#8C8C8C] text-[16px] font-[400]">Komedia</h5>
                <p class="capitalize text-[16px] font-[400] text-[#24A85C]">tekin</p>
            </div>
        </div>
        hover:scale-110 transition-all
    </div>
</div>