<div class="row">
  <div class="col-3 mb-5">
    <app-card></app-card>
  </div>
  <div class="col-3 mb-5">
    <app-card></app-card>
  </div>
  <div class="col-3 mb-5">
    <app-card></app-card>
  </div>
  <div class="col-3 mb-5">
    <app-card></app-card>
  </div>
  <div class="col-3 mb-5">
    <app-card></app-card>
  </div>
  <div class="col-3 mb-5">
    <app-card></app-card>
  </div>
  <div class="col-3 mb-5">
    <app-card></app-card>
  </div>
  <div class="col-3 mb-5">
    <app-card></app-card>
  </div>
  <div class="col-3 mb-5">
    <app-card></app-card>
  </div>
  <div class="col-3 mb-5">
    <app-card></app-card>
  </div>
  <div class="col-3 mb-5">
    <app-card></app-card>
  </div>
</div>