<div class="flex">
  <div class="w-60 h-fit mr-5 border p-2">
    <img class="w-full" src="https://images.uzmovi.com/2022-07-04/1daaf1c70104d15f1fb56919265ad67e.jpg" alt="">
  </div>
  <div>
    <h1 class="font-bold text-4xl">Вызов (2023)</h1>
    <p class="text-gray-500">12+</p>
    <div>
      <h3 class="font-bold text-xl">Anime haqida</h3>
      <div class="flex mt-3 items-center border-b-2">
        <h5 class="text-lg w-[10rem] uppercase text-gray-500 font-medium">nomi</h5>
        <p class="text-lg text-gray-900">Seni isming</p>
      </div>
      <div class="flex mt-3 items-center border-b-2">
        <h5 class="text-lg font-medium w-[10rem] uppercase text-gray-500">sanasi</h5>
        <p class="text-lg text-gray-900 lowercase">2023</p>
      </div>
      <div class="flex mt-3 items-center border-b-2">
        <h5 class="text-lg w-[10rem] uppercase text-gray-500 font-medium">janr</h5>
        <p class="text-lg text-gray-900 lowercase">maktab / kundalik-hayot / dramma</p>
      </div>
      <div class="flex mt-3 items-center border-b-2">
        <h5 class="text-lg w-[10rem] uppercase text-gray-500 font-medium">nomi</h5>
        <p class="text-lg text-gray-900 lowercase">seni isming</p>
      </div>
      <div class="flex mt-3 items-center border-b-2">
        <h5 class="text-lg w-[10rem] uppercase text-gray-500 font-medium">nomi</h5>
        <p class="text-lg text-gray-900 lowercase">seni isming</p>
      </div>
      <div class="flex mt-3 items-center border-b-2">
        <h5 class="text-lg w-[10rem] uppercase text-gray-500 font-medium">davomiyligi</h5>
        <p class="text-lg text-gray-900 lowercase">seni isming</p>
      </div>
    </div>
  </div>
</div>